<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator Home</title>
    <link rel="stylesheet" href="../../libs/main.css" type="text/css">
</head>
<body>

    <div class="container page-title">
        <div class="col-2">
            <div class="grid-item">
                Administrator
            </div>
            <div class="grid-item">
                <input type="text" value="type email here" id="email">
            </div>
        </div>
    </div>

</body>
</html>