<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator Home</title>
    <link rel="stylesheet" href="../../libs/main.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="col-2-item page-title bg-lblue">
            Administrator
        </div>
        <div class="col-2-item">
            <input type="text" placeholder="e-mail / username" id="email">
        </div>
        <div class="col-1-item">
            <button class="bg-dblue border-dblue" type="submit">Search User Account</button>
        </div>
    </div>
    <div class="row container">
        <div class="col-5-item bg-lblue" style="height: 600px;">
            <div class="tab">
                <div class="col-3-item">
                    <button id="defaulttab" class="tablinks" onclick="openTab(event, 'deactivate')" >Deactivate Accounts</button>
                </div>
                <div class="col-3-item">
                    <button class="tablinks" onclick="openTab(event, 'removepost')">Remove Posts</button>
                </div>
            </div>

            <div id="deactivate" class="tabcontent" style="height: 500px;">
                <div class="col-3-item">
                    <div class="col-2-item strong text-white">Add Account to Deactivate:</div>
                    <div class="col-4-item"><input type="text" placeholder="e-mail / username" id="addemail"></div>
                    <div class="col-2-item"><button class="bg-dblue border-dblue" type="submit">Add Account</button></div> 
                </div>
                <div class="col-3-item">
                    <div class="container-fit-vertical bg-white text-gray auto-scroll" style="height: 360px">&lt;List of Accounts to be Deactivated&gt;</div> 
                </div>
                <div class="col-3-item" style="float: right;">
                    <button class="bg-red border-red" type="submit">Deactivate Accounts</button>
                </div>
            </div>
            
            <div id="removepost" class="tabcontent" style="height: 500px;">
                <div class="col-5-item">
                    <div class="col-2-item strong text-white">Enter Post ID:</div>
                    <div class="col-4-item"><input type="text" placeholder="Post ID" id="postid"></div>
                    <div class="col-2-item strong text-white">Content:</div>
                    <div class="col-4-item bg-white text-gray" style="height: 300px;">&lt;Display Content Here&gt;</div>
                    <div class="col-4-item" style="float: right;">
                        <div class="col-3-item"><button class="bg-green border-green" type="submit">Ignore Repot & Keep the Post</button></div>
                        <div class="col-3-item"><button class="bg-red border-red" type="submit">Remove Post</button></div>
                    </div>
                </div>
                <div class="col-1-item">
                    <div class="col-4-item"><button class="bg-dblue border-dblue" type="submit">Search Post</button></div>
                    
                </div>
            </div>
        </div>
        <div class="col-1-item bg-gray" style="height: 600px;">
            <div class="container-fit-vertical bg-lgray strong">
                Notifications
            </div>
            <div class="container-fit-vertical bg-white text-gray auto-scroll" style="height: 520px;">
                &lt;Notification list&gt;
            </div>
        </div>
    </div>
    
    <script src="../../libs/main.js"></script>
</body>
</html>