<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator Home</title>
    <link rel="stylesheet" href="../../libs/main.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="col-2-item page-title bg-lblue">
            Administrator
        </div>
        <div class="col-2-item">
            <input type="text" value="e-mail / username" id="email">
        </div>
        <div class="col-1-item">
            <button type="submit"> Search User Account</button>
        </div>
    </div>
    <div class="row">
        <div class="col-5-item bg-lblue" style="height: 600px;">
            div 1
        </div>
        <div class="col-1-item bg-gray" style="height: 600px;">
            <div class="container-fit bg-body">
                Notification
            </div>
        </div>
    </div>
</body>
</html>